%fieldset
  %hr
  %h3 Dependency Constraint

  .form-group
    = f.label :target
    = f.select :target_id, (@ingredients - [@ingredient]).map { |i| [ i.name, i.id ] }

  .form-group
    = f.check_box :_destroy
    = f.label :_destroy, t('.remove_dependency_constraint')

  %hr