%fieldset
  %hr
  %h3 CPU Constraint

  .form-group
    = f.label 'Minimal number of CPUs/cores'
    = f.number_field :min_cpus

  .form-group
    = f.check_box :_destroy
    = f.label :_destroy, t('.remove_cpu_constraint')

  %hr