%fieldset
  %hr
  %h3 RAM Constraint

  .form-group
    = f.label 'Minimal RAM in megabytes'
    = f.number_field :min_ram

  .form-group
    = f.check_box :_destroy
    = f.label :_destroy, t('.remove_ram_constraint')

  %hr