- content_for :page_head do
  .pageheader
    .container
      %h1.display-3
        The Cloud Stove
      %p.lead Finely crafted Cloud Application Deployments
%p.lead
  Your cloud application is beautiful and unique like a snowflake. There are tons of ways to deploy it and we'll help you find the best one. Carefully chosen from all available cloud providers to give your application the stage it deserves. With maximum performance and the lowest costs. 
  Let us help you deliver a great experience to your customers!