%h1 
  The Cloud Stove
  .small Finely crafted Cloud Application Deployment
%p
  Your cloud application is beautiful and unique like a snowflake. There are tons of ways to deploy it and we'll help you find the best one. Carefully chosen from all available cloud providers to give your application the stage it deserves. With maximum performance and the lowest costs. 
  Let us help you deliver a great experience to your customers!
%p
  = raw [ link_to("Blueprints", blueprints_path), link_to("Applications", cloud_applications_path), link_to("Providers", providers_path) ].join(", ")