// Place all the styles related to the DeploymentRecommendations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.recommendations {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.04);
  display: block;
  border: 2px solid stove-dark-red;
}