// Place all the styles related to the ingredient controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ingredient {
  @extend .card;
  @extend .card-block;

  .name {
    @extend .card-title;
  }

  .description {
    position: relative;
    overflow: hidden;
    margin-bottom: -$card-spacer-x/6;
  }
}