.main-nav {
  @extend .navbar;
  @extend .navbar-light;
//  background-color $stove-dark-red;
//  background-color: $jumbotron-bg;
  background-color: $gray-lightest;
}

.navbar-right {
  @extend .pull-xs-right;
  
  .btn-link {
    &:hover, &:focus {
      text-decoration: none; 
      color: $link-color;
    }
    
    & {
      color: $link-hover-color;
    }
  }
  
  img.avatar {
    // $img-height: 1.5rem;
    // height: $img-height;
    $img-height: 2rem;
    height: $img-height;
    @extend .img-circle;
    position: absolute;
    top: .1rem;
    right: 0;
  }
}

.dropdown-menu i.fa {
  @extend .fa-fw;
}